.sidenav{
  align-self: center;
  position: fixed;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 60px;
}
.sidenav a{
  padding:  8px 8px 8px 32px;
}
.btn-group .button{
  background-color: #ffa500;
  border: none;
  color: white;
  padding:  15px 32px;
  font-size: 24px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 12px;
  display: block;
  transition-duration: 0.4s;
}
.button:hover{
  background-color: white;
  color: Black;
}
.btn-group{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FF0000;
  overflow-x: hidden;
  padding-top: 60px;
}
.main{
  margin-left: 160px;
  padding: 5px;
  display: grid;
  grid-template-areas:
   'Money Money Money Money Stock Stock'
   'Money Money Money Money Stock Stock'
   'Taxes Taxes Expense Expense Leaderboard Leaderboard';
  background-color: #C0C0C0;
  grid-gap: 5px;
}
.grid-item1{ grid-area: Money;
              background-color: white;
              padding: 5px;}
.grid-item2{ grid-area: Stock;
              background-color: white;
              padding: 5px;}
.grid-item3{ grid-area: Taxes;
              background-color: white;
              padding: 5px;}
.grid-item4{ grid-area: Expense;
              background-color: white;
              padding: 5px;}
.grid-item5{ grid-area: Leaderboard;
              background-color: white;
              padding: 5px;}
